body {
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

#tasksList div {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
}
